<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsApplication2.My.MySettings.DbConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Db.mdb" providerName="System.Data.OleDb"/>
        <add name="WindowsApplication2.My.MySettings.prConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\pr.mdb" providerName="System.Data.OleDb"/>
        <add name="WindowsApplication2.My.MySettings.vs1ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\vs1.mdb" providerName="System.Data.OleDb"/>
        <add name="WindowsApplication2.My.MySettings.PDSConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\PDS.mdb" providerName="System.Data.OleDb"/>
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
